<nav class="top-toolbar navbar navbar-desktop flex-nowrap" id="navbar-container">
	<!-- START RIGHT TOOLBAR ICON MENUS -->
	<ul class="navbar-nav nav-right">
		<%= yield :search_bar_partial %>

		<% if current_employee %>
			<li class="nav-item dropdown">
				<a class="nav-link nav-pill user-avatar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<% if current_employee.profile_pic.persisted? %>
						<%= image_tag current_employee.profile_pic, class: "w-35 h-35 rounded-circle" %>
					<% else %>
						<%= image_tag 'img/avatars/no-profile', class: "w-35 rounded-circle" %>
					<% end %>
				</a>

				<div class="dropdown-menu dropdown-menu-right dropdown-menu-accout">
					<div class="dropdown-header pb-3">
						<div class="media d-user">
							<div class="mr-2">
								<% if current_employee.profile_pic.persisted? %>
									<%= image_tag current_employee.profile_pic, class: "w-35 h-35 rounded-circle" %>
								<% else %>
									<%= image_tag 'img/avatars/no-profile', class: "w-35 rounded-circle" %>
								<% end %>
							</div>

							<div class="media-body">
								<h5 class="mt-0 mb-0"><%= current_employee.employee_fullname %></h5>
								<span><%= current_employee.email %></span>
							</div>
						</div>
					</div>

					<%= link_to employees_profile_show_path, class: "dropdown-item" do %>
						<i class="icon dripicons-user"></i> Profile
					<% end %>

					<a class="dropdown-item" href="pages.my-account.html">
						<i class="icon dripicons-gear"></i> Account Settings
					</a>
					<div class="dropdown-divider"></div>

					<%= link_to destroy_employee_session_path, class: "dropdown-item", method: :delete do %>
						<i class="icon dripicons-lock-open"></i> Sign Out
					<% end %>
				</div>
			</li>
		<% end %>
	</ul>
</nav>
