<div class="container mt-5">
  <h1 class="mx-4">Categories</h1>
  <div class="card-body">
    <table class="table table-hover table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Sr #</th>
          <th scope="col">Category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
      <% @category.each_with_index do |category, index| %>
        <tr>
          <td scope="row"><%= index + 1 %></td>
          <td><%= category.name %></td>

          <td class="actionfield-width">
            <%= link_to "View", item_group_path(category), class: "badge badge-primary text-white" %>
            <%= link_to "Edit", nil, class: "badge badge-warning text-white" %>
            <%= link_to "Delete", item_group_path(category), method: :delete, data: {confirm: "Are you sure !! You want to delete this category?"}, class: "badge badge-danger text-white" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
