<div class="container mt-5">
  <div class="d-flex">
    <h1 class="mt-5 mx-4">Categories</h1>

    <div class="ml-auto mt-3 mr-4">
      <%= search_form_for @q do |f| %>
        <%= f.hidden_field :available_categories, id: "attainableCategories" %>
        <%= f.hidden_field :unavailable_categories, id: "unattainableCategories" %>

        <%= f.button "All", id: 'all_i_groups', type: "submit", class: "btn btn-success text-white" %>
        <%= f.button "Available", id: 'available_i_groups', type: "submit", class: "btn btn-info text-white" %>
        <%= f.button "Unavailable", id: 'unavailable_i_groups', type: "submit", class: "btn btn-dark text-white" %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <%= render "item_groups/categories_table", item_category: @category %>
  </div>
</div>

<% content_for :search_icon do %>
  <a href="javascript:void(0)" class="open-search-button" data-q-action="open-site-search">
		<i class="icon dripicons-search" id="nav-icons"></i>
	</a>
<% end %>

<% content_for :search_bar_partial do %>
  <%= render  "item_groups/search_bar" %>
<% end %>
